* {
    margin: 0;
    padding: 0;
}
.menu-main-nav-container div {
    background-color: #454545;
    height: 50px;

}
.menu-main-nav-container div ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    margin: 0 150px;;
}
.menu-main-nav-container div ul li a {
    text-decoration: none;
    font-size: 12px;
    color: white;

}